

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(4, 13, 82,0.5);
}

.icono{
    display: inline;
    width: 50px;
    margin: 10px;
}

.titulo{
    display: inline;
    color: rgb(255, 255, 255);
}

.caja-menu{
    background-color: rgb(63, 2, 2,);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:flex-end;    
    padding-right: 20px;
    padding-left: 5px;
    
}

.lista-menu{
    margin: 50px;
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content:flex-end;
    
}

.letra-menu{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(253, 243, 243);
}

.compras{
    display: inline;
    width: 20px;
    height: 20px;
      
}


.stylepage{
    background-color: rgb(0, 0, 0);
    
}